In [7]:
#Now we'll learn about dropping entries.It helps in data cleaning.
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

In [8]:
#Create a new series to play with
ser1 = Series(np.arange(3),index=['a','b','c'])

#Show
ser1

a    0
b    1
c    2
dtype: int64

In [9]:
#Now let's drop an index
ser1.drop('b')

a    0
c    2
dtype: int64

In [10]:
ser2= Series(np.arange(9).reshape((3,3)),index=[1,2,3],columns=['a','b','c'])
             
ser2

TypeError: __init__() got an unexpected keyword argument 'columns'

# Clearly series does not support columns, so we will use DataFrame

# # So, in Series we can drop entries in dataset by only index

# DataFrame

In [ ]:
#With a DataFrame we can drop values from either axis
dframe1 = DataFrame(np.arange(9).reshape((3,3)),index=['SF','LA','NY'],columns=['pop','size','year'])

#Show (remember just random values)
dframe1

In [ ]:
#Now dropping a row or index
dframe1.drop('LA')

In [ ]:
#Or we could drop a column

#Need to specify that axis is 1, not 0
dframe1.drop('year',axis=1)

# So, we can drop entries in dataset by their both index and columns in DataFrames.

# Finding total number of cells in DataFrame

In [11]:
dframe2=DataFrame(np.arange(9).reshape(3,3), index=[1,2,3], columns=['a','b','c'])

dframe2

   a  b  c
1  0  1  2
2  3  4  5
3  6  7  8

In [17]:
s=dframe2.shape      #this shape attribute is of pandas not numpy.

s

(3, 3)

In [18]:
np.product(s)

9

In [20]:
#or we can directly use:

np.product(dframe2.shape)

9

In [ ]:
#Next we'll learn about selecting entires in a DataFrame!